body {
  font-family: Roboto, Tahoma, sans-serif;
  color: var(--main-text-color);
  background-color: var(--primary-white-color);
  font-size: 14px;
}

:root {
  --secondary-text-color: #757575;
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-logo {
  color: var(--main-text-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.header-link:hover,
.header-link:focus,
.header-link:active,
.header-list .link.current {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.header-tel,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.address-tel:hover,
.address-tel:focus,
.address-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.hero {
  background: #2f303a;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
}

.visualy-hidden {
  display: none;
}

.making-item-top {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}

.making-item-bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.skills-text,
.staff-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.staff {
  background: #f5f4fa;
}

.staff-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
}

.staff-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer {
  background: #2f303a;
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.address {
  font-style: normal;
}

.address-street {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.address-mail,
.address-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-btn.current,
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
}

.portfolio-item {
  background: var(--primary-white-color);
}

.portfolio-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.porfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
